<app-navbar></app-navbar>


<div class="row">
  <div class="col s8 offset-s2">
    <h5 class="header">Thank you for taking our Quiz, We will contact you soon!</h5>
    <div class="card horizontal">
      <div class="card-image">
        <img src="../../assets/img/done.png" style="width: 200px;height : 200px;">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <h4>{{quizService.getParticipantName()}}</h4>
          <h3>{{quizService.correctAnswerCount}}/10</h3>
          <span>Time Elapsed : {{quizService.displayTimeElapsed()}}</span>
        </div>
        <div class="card-action">
          <button class="btn" (click)="OnSubmit()">Submit</button>
        </div>
      </div>
      <a class="btn-floating halfway-fab waves-effect waves-light red" (click)="restart()">
        <i class="material-icons">replay</i>
      </a>
    </div>
  </div>
</div>